{%  extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    function redirectToUrl() {
        var dropdown = document.getElementById("dropdown");
        var selectedValue = dropdown.options[dropdown.selectedIndex].value;
        window.location.href = selectedValue;
    }
</script>
<style>
    body {
        background-image: url("{% static 'image2.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 ">
            <img src="{% static 'login.png' %}" alt="icon image" class="img-fluid"><br>
            <p class="text-warning">USERNAME: {% for employee in employees %}{{employee.employee_login.username}} {% endfor %}</p>
            <a href="{% url 'your-profile' %}" class="btn btn-outline-primary ">your profile</a><br>
            <a href="{% url 'record-sales' %}" class="btn btn-outline-primary my-2">record sales</a><br>
            <a href="{% url 'products' %}" class="btn btn-outline-primary my-2">products</a><br>
            <select id="dropdown" name="dropdown" class="btn btn-outline-primary my-2" onchange="redirectToUrl()">

                <option value="{% url 'sales' %}">all sales made</option>
                <option value="{% url 'search' %}">filter sales</option>
            </select>
        </div>
    </div>
</div>

{% endblock content %}