{% extends 'index_base.html' %}
{% load static%}
{% block content %}
<style>
    body {
        background-image: url("{% static 'image3.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>
<div class="container mt-4 d-flex justify-content-between align-items-center">
    <h1 class="fw-dark">WELCOME TO PARAMOUNT WEARS</h1><br>
    <a href="{% url 'login' %}" class="btn btn-primary">Get Started</a>
</div>

{% endblock content %}