{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    <div class="message-box" style="display: block; text-align: center; color: lime; font-size: 20px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button onclick="hideMessageBox()" class="btn btn-outline-secondary btn-sm">Hide</button>
    </div>
{% else %}
    <div class="message-box" style="display: none;"></div>
{% endif %}

<script>
    function hideMessageBox() {
        document.querySelector('.message-box').style.display = 'none';
    }
</script>
<a href="{% url 'dashboard' %}" class="btn btn-outline-primary my-3 mx-4">dashboard</a>
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h1>record sales</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-primary">submit</button>
        </form>
        <a href="{% url 'record-sales' %}" class="btn btn-secondary">generate another form</a>
    </div>
</div>
{% endblock content%}

